/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    /* padding: 64px 32px; */
    padding: 64px 0px;
  }
}

@media (width >= 900px) {
  .section > div {
    /* max-width: 1200px; */
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}


/* -------------------------------------------------------------------------------- */
/* added by tekaneko for HOL */
.section:has(.teaser-hero) {
  padding: 0px;
}

.teaser-hero {
  position: relative;
  background: linear-gradient(103deg, rgb(30, 141, 222) 0%, rgb(20, 88, 145) 100%);
  color: white;
  /* height: 560px; */
}
.teaser-hero > div > div {
  padding-left:40px;
}
@media (width < 600px) {
  .teaser-hero > div > div:not(.columns-img-col) {
    padding: 0px 20px;
  }  
  .teaser-hero > div > .columns-img-col {
    padding-left: 0px;
  }  
}
.teaser-hero picture img {
  height: 560px!important;
  object-fit: cover;
}

.teaser-hero .button-container > .button {
  background-color: unset;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 100;
  line-height: 20px;
  min-height: 21px;
  padding: 7px 18px 8px;
  border-color: white;
}

.center {
  text-align: center;
}
.bg-gray {
  background: #f8f8f8;
}

.tabs-list {
  justify-content: center;
}

.benefit .tabs-panel {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px!important;
}

.benefit .tabs-panel > div {
  flex:1;
  min-width: 300px
}


/* -------------------------------------------------------------------------------- */
/* added by tekaneko for Famima */
.section.full-width > div {
  max-width: 1200px;
  margin: 0 auto;
  img {
    width:100%;
    height:auto;
  }
}

main:has(.bg-bluegreen) {
  background-image: linear-gradient(-90deg, #bce5bd 0%, #82c384 50%, #aad2e7 50%, #aad2e7 100%);
}
main:has(.bg-greenblue) {
  background-image: linear-gradient(-90deg, #aad2e7 0%, #aad2e7 50%, #bce5bd 50%, #82c384 100%);
}

.section.bg-bluegreen, .section.bg-greenblue {
  .default-content-wrapper {
    padding-top: 1px;
  }
  padding-top: 0px;
  padding-bottom: 0px;


  margin:auto;
  .section > div {
    max-width: 1200px!important;
  }
  .default-content-wrapper {
    > p {
      margin: auto;
      text-align: center;
      line-height: 0;
    }
    h1 {
      position: relative;
      box-sizing: border-box;
      margin: 10px 0 30px 0;
      border-bottom: 6px solid #1bac4a;
      padding: 0 0 10px 0;
      font-size: 2.1rem;
      font-family: "Noto Sans JP";
      font-weight: 600;
      line-height: 1.5;
      text-shadow: 0px 0px 0.1px rgba(51, 51, 51, 0.5);
    }
  }
  .column-wrapper {
    background-color: #ffeff2;
  }
}

.section.camp-bg-white {
    padding-top: 0px;
    padding-bottom: 0px;

    .default-content-wrapper {
      padding-top: 6px;
      background:white;
      color: #313131;
      width: 750px;
      margin: auto;
      font-size: 0.93333rem;
      line-height: 1.8;
      h2 {
        margin:12px;
        background-color: #0171a6;
        color: #fff;
        line-height: 1.7;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 2px 10px 4px 20px;
        border-radius: 50px;      
      }
    }

      .fragment-wrapper {
        .button-container {
          margin:10px;
          padding-bottom: 10px;
          a {
            text-align: center!important;
            position: relative;
            display: block;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: 2px solid #ddd;
            border-radius: 25px;
            padding: 14px 40px 14px 44px;
            background-color: #fff;
            line-height: 1.2;
            color: #0171a6;
            font-size: 1.133333rem;
            font-family: "Noto Sans JP";
            font-weight: 800;
            text-align: left;
            text-decoration: none !important;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            text-shadow: 0px 0px 0.1px rgba(51, 51, 51, 0.5);
          }
          a::after {
              left: 8px;
              right: inherit;
              content: '＜';
              position: absolute;
              top: 50%;
              color: #0171a6;
              font-family: "icn_font";
              font-size: 1.86666rem;
              font-weight: normal;
              line-height: 0;
          }

        }
      }

  }

/* -------------------------------------------------------------------------------- */
/* added by tekaneko for Fami Matsuken */

.section.bg-famimatsuken {
  background-image: url(https://www.family.co.jp/content/dam/family/campaign/2512_famimatsuken/bg_pc02.webp);
  position: relative;
  background-color: #b81c0d;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 16px;
  .default-content-wrapper {
    max-width: 1200px;
    h1 {
          background-color: #f6de8f;
          font-size: clamp(1.4rem, 1.083rem + 0.69vw, 1.6rem);
          color: #000;
          text-align: center;
          line-height: 1.3;
          padding: 10px 0;
          margin-bottom: 10px;
    }
  }
  .columns.title-area {
    width: calc(100vw - 0.7%);
    margin: 0 calc(50% - 50vw);
    height: 175px;
    background-color: #e0c961;
    background-image: linear-gradient(57deg, rgba(248, 209, 55, 1), rgba(255, 242, 190, 1) 33%, rgba(242, 214, 125, 1) 50%, rgba(245, 221, 141, 1) 68%, rgba(226, 179, 26, 1));
    background-size: 35px 35px;
    h2 {
      font-optical-sizing: auto;
      margin-top: 18px;
      font-weight: 800;
      font-style: normal;
      text-align: center;
      font-size: clamp(1.6rem, 0.172rem + 3.1vw, 2.5rem);
      line-height: 1.0;
      color: #000;
      text-shadow: 3px 3px 3px #fdefb8, -3px -3px 3px #fdefb8, -3px 3px 3px #fdefb8, 3px -3px 3px #fdefb8, 3px 0px 3px #fdefb8, -3px -0px 3px #fdefb8, 0px 3px 3px #fdefb8, 0px -3px 3px #fdefb8;
    }
    p {
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      text-align: center;
      font-size: clamp(0.95rem, 0.474rem + 1.03vw, 1.25rem);
      margin-top: 1rem;
      color: #000;
      text-shadow: 2px 2px 2px #fdefb8, -2px -2px 2px #fdefb8, -2px 2px 2px #fdefb8, 2px -2px 2px #fdefb8, 2px 0px 2px #fdefb8, -2px -0px 2px #fdefb8, 0px 2px 2px #fdefb8, 0px -2px 2px #fdefb8;
    }

  }

  .columns.col-famimatsuken {
    max-width: 1200px;
    background-color: rgba(0,0,0,0.4);
    margin:auto;
    padding: 20px;
    > div{
      align-items: unset!important;
      > div {
        margin-bottom: 20px;
        background: #fff;
        border: 4px solid #d4af37;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        width:48%;
        > p:nth-child(3){
          padding: 0px 10px 5px 10px;
        }
        > p {
            margin: 0px;
            line-height: 1.1;
            font-size: smaller;
            a {
              color: black;
            }
          }

        >h2 {
          padding: 0px 10px 0px 10px;
          font-size: clamp(0.9rem, 0.384rem + 1.12vw, 1.225rem);
          font-weight: bold;
          line-height: 1.5;
          margin-bottom: 8px;
          color: #000;
          a {
            color: #000;
            border: unset!important;
            border-radius: unset!important;
          }
        }
        p.button-container {
          margin-bottom: -6px;
          a {
            background: none;
            color: black;
            margin: 0px;
            padding: 0px;
            border: unset!important;
            border-radius: unset!important;
            font-weight: 100;
          }
        }
      }
    }


  }


  .default-content-wrapper {
    li {
      font-size: 1.06667rem;
    }
    .button-container {
      a {
        text-align: center !important;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 2px solid #ddd;
        border-radius: 25px;
        padding: 14px 40px 14px 44px;
        background-color: #fff;
        line-height: 1.2;
        color: #0171a6;
        font-size: 1.133333rem;
        font-family: "Noto Sans JP";
        font-weight: 800;
        text-align: left;
        text-decoration: none !important;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-shadow: 0px 0px 0.1px rgba(51, 51, 51, 0.5);
      }
      a::after {
        left: 8px;
        right: inherit;
        content: '＜';
        position: absolute;
        top: 50%;
        color: #0171a6;
        font-family: "icn_font";
        font-size: 1.86666rem;
        font-weight: normal;
        line-height: 0;
      }
    }
  }
}

